go 1.21.3

use (
	.
	./Section-1-Getting-Started
	./Section-2-Starting-to-Code
	./Section-3-Console-Input-and-Output
	./Section-4-Types-Expressions-Composition
	./Section-5-Flow-Control
	./Section-6-Flow-Control-Switch-Select
	./Section-7-Operators
	./Section-8-Working-with-Strings
	./Section-9-Building-a-Simple-Web-Application
)
